---
http_interactions:
- request:
    method: get
    uri: https://www.x402.org/facilitator/supported
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - "/facilitator/supported"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::mshph-1769974596971-dc6ed2550604
    body:
      encoding: ASCII-8BIT
      string: '{"kinds":[{"x402Version":2,"scheme":"exact","network":"eip155:84532"},{"x402Version":2,"scheme":"exact","network":"solana:EtWTRABZaYq6iMfeYKouRu166VU2xqa1","extra":{"feePayer":"CKPKJWNdJEqa81x7CkZ14BVPiY6y16Sxs7owznqtWYp5"}},{"x402Version":1,"scheme":"exact","network":"base-sepolia"},{"x402Version":1,"scheme":"exact","network":"solana-devnet","extra":{"feePayer":"CKPKJWNdJEqa81x7CkZ14BVPiY6y16Sxs7owznqtWYp5"}}],"extensions":[],"signers":{"eip155:*":["0xd407e409E34E0b9afb99EcCeb609bDbcD5e7f1bf"],"solana:*":["CKPKJWNdJEqa81x7CkZ14BVPiY6y16Sxs7owznqtWYp5"]}}'
  recorded_at: Sun, 01 Feb 2026 19:36:37 GMT
recorded_with: VCR 6.4.0
